body {
  font-family: Arial;
}
html {
  scroll-behavior: smooth;
}
.custom-navbar {
  background: linear-gradient(45deg, #000000, #274727, #174917) !important;
}
.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background: #111;
  color: white;
  transition: 0.3s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.card img {
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-10px) scale(1.03);
}
.card-img-wrapper {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(53, 170, 102, 0.4));
  opacity: 0;
  transition: 0.3s;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover img {
  transform: scale(1.1);
}
.btn {
  border-radius: 25px;
  background: linear-gradient(45deg, green, black);
  border: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}
.social-icons {
  text-align: center;
  margin-top: 30px;
}
.social-icons a {
  display: inline-block;
  margin: 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #25663b;
  color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.social-icons a:hover {
  background: #568676;
  transform: translateY(-5px);
}
section {
  margin-bottom: 60px;
}
.features-box {
  padding: 25px;
  border-radius: 15px;
  background: #111;
  color: white;
  transition: 0.3s;
}
.features-box:hover {
  transform: translateY(-10px);
  background: linear-gradient(45deg, green, black);
}
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://tse2.mm.bing.net/th/id/OIP._cMIXtMxankbbcVcNwLDAAHaE7?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 20px;
  margin-top: 1px;
  border-radius: 30% 70% / 90% 10%;
}

.hero h1 {
  font-size: 40px;
  font-weight: bold;
}

.hero p {
  max-width: 600px;
  margin: auto;
  color: #fffdfd;
}
.about-hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://tse2.mm.bing.net/th/id/OIP._cMIXtMxankbbcVcNwLDAAHaE7?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
  color: white;
  padding: 120px 20px;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.gallery-wrapper {
  overflow: hidden;
  width: 100%;
}
.gallery-track {
  display: flex;
  gap: 20px;

  width: max-content;

  animation: scrollLoop 18s linear infinite;
}
.gallery-item {
  flex: 0 0 auto;

  width: 280px;
  height: 380px;

  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 10px 25px rgba(27, 68, 43, 0.096);

  transition: transform 0.3s ease;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.4s ease;
}
.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item:hover img {
  transform: scale(1.15);
}
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
.img-box {
  width: 100%;
  max-width: 500px;
  height: 400px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 25px rgba(16, 129, 22, 0.3);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
/* تصویر */
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}
/* hover خفن */
.img-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(6, 155, 55, 0.4);
}
.img-box:hover img {
  transform: scale(1.1);
}
#order-items .card {
  margin-bottom: 10px;
}
input,
textarea,
select {
  transition: 0.3s;
}
input:focus,
textarea:focus {
  border-color: rgb(36, 143, 36);
  box-shadow: 0 0 5px rgb(18, 71, 18);
}
.error {
  font-size: 13px;
}
input.error-border {
  border: 2px solid rgb(131, 49, 49);
}
.fds {
  background-color: linear-gradient(45deg, rgb(3, 44, 3), rgb(12, 153, 75));
  background: linear-gradient(
    rgba(255, 255, 255, 0.979),
    rgba(2, 219, 2, 0.705)
  );
}
/*سفارش*/
#order-items {
  margin-top: 30px;
}
/* کارت سفارش */
#order-items .card {
  height: 100%;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
  background: linear-gradient(45deg, rgb(27, 29, 27), rgb(13, 112, 21));
  box-shadow: 0 5px 20px rgba(60, 223, 45, 0.08);
}
/* هاور */
#order-items .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(6, 233, 101, 0.637);
}
/* عکس */
#order-items .card img {
  width: 50%;
  height: 220px;
  object-fit: contain;
  border-radius: 30px;
  background: linear-gradient(
    45deg,
    rgb(219, 223, 219),
    rgba(2, 83, 36, 0.589)
  );
  padding: 10px;
}
/* متن کارت */
#order-items .card-body {
  padding: 20px;
}
/* عنوان */
#order-items h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* قیمت */
#order-items .price {
  color: rgb(31, 49, 31);
  font-weight: bold;
  font-size: 18px;
}
/* توضیحات */
#order-items p {
  font-size: 15px;
  color: #070707;
  line-height: 1.7;
}
/* مجموعه */
#order-total {
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
